main {
display: block;    
}

.postsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.Post {
    align-items: center;
    justify-items: center;
    border: solid;
    border-color: black;
    width: 20rem;
    height: 20rem;
    padding: 2.5%;
    margin: 3%;
    border-radius: 6%;
}

.postHeader {
    font-size: 1.3em;
    padding: 1em;
}

.postAndSearch {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width:20rem;
    margin-bottom: 2rem;
}

.postSearchBar {
    height: 3%;
}